.container {
    margin-top: 2em;
}

h1 {
    text-align: center;
    color: #494E6B;
    opacity: 0.8;
}

hr {
    display: block;
    border-color: #D9D9D9;
}

.jumbotron {
    background-color: #494E6B !important;
    opacity: 0.7;
}

label {
    color: #D9D9D9;
    font-weight: bold;
}

#addItem {
    padding: 4px 24px;
    text-align: center;
    float: right;
    border-radius: 8px;
}

.thead {
    background-color: #494E6B !important;
    opacity: 0.7;
    color: #D9D9D9;
}

.checkBoxClass {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0px auto;
}

.form-control {
    color: black;
}